{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="com-md-6">
                <div class="card auth-card">
                    <div class="card-body">
                        <h4 class="card-tittle text-center">Login</h4>
                        <form method="POST">
                            {% csrf_token %}
                            <br>
                            <input type="text" name="email" placeholder="Email" class="form-control">
                            <br>
                            <input type="password" name="password" placeholder="Senha" class="form-control">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block">Logar</button>
                        </form>  
                        <div>
                            {% for message in messages %}
                                <h6>{{ message }}</h3>
                            {% endfor %}
                        </div>      
                    </div>
                </div>
                
            </div>    
            
        </div>
    </div>
</body>
</html>
