body{
    background-color: #E7F2FA;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box
}

/*cards-----*/
.card-perfil{
    margin: 10px;
    padding: 5px;
    height: 350px;
    max-width: 272px;
}

.card-perfil .card-body .card-body-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
}
.card{
    margin: 10px;
    padding: 5px;
    height: 350px;
    max-width: 272px;
    min-width: 272px;
}

.card .card-body .card-body-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
}

.card-perfil .card-body .card-body-top .icon-crud{
    opacity: 0.4;
    text-decoration: none;
}

.card-perfil .card-body .card-body-top .icon-crud:hover{
    opacity:0.7;
}
.post-avatar .avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }

.post-avatar .author{
    margin-top: 20px;
}


.post-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}

.card-img-top{
    margin-top: 5px;
    width: 260px;
    height: 180px;
}

.nav-item{
    padding: 5px;
}

/*footer------------*/

.footer{
    max-width: 100%;
}
.my-md-5{
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
}

/*formularios-----*/
.form-cadastro{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5ce1e6 ;
}

.form-cadastro .form-group label, .form-envio{
    color: #ffffff;
    font-weight: 700;
}
.btn-primary{
    background-color: #ff914d;
    border: 0px;
}

.btn-primary:hover{
    background-color: #f5a473;
}

.form-checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
}

/*perfil----*/

.card-perfil{
    padding: 5px;
    background-color: white;
    margin: 10px;
    height: 300px;
}
.profilebar{
    background-color: #5ce1e6;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.img-profile{
    border-radius: 200px;
    height: 220px;
    width: 220px;
    margin-left: 30px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 30%;
    min-width:250px;
    max-width: 300px;
    background-color: #f1f1f1;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
  }

  .sidebar a.active {
    background-color: #ff914d;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #f5a473;
    color: white;
  }
  
  .content-profile {
    margin-left: 10px;
    padding: 1px 16px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.content {
    width: 100%;
    display:flex;
    justify-content: center;
}

.row{
    margin: 0;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    width: 98%;
}

.row-profile{
    display: flex;
    margin: 0;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 15px;   
    width: 98%;
}

.img-profile-animal{
    width: 217px;
    height: 170px;
}

.form-profile{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 800px;
    min-width: 500px;
    margin-bottom:10px;
}

.form-profile input, .form-profile textarea, .form-profile select{
    margin: 10px 0px 10px 0px;
}

/*perfil-animal-----------*/

.img-animal{
    width: 60%;
    height: 35%;
}

/*contato-------*/

.form-envio{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #5ce1e6;
    width: 500px;
    margin-bottom:10px;
}

.form-envio input, .form-envio textarea{
    margin: 10px 0px 10px 0px;
}


/*Medias para ajuste mobile------------*/

@media screen and (max-width: 750px) {
    .form-profile{
        min-width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
        float: left;
        width: 100%;
    }
    .content-profile {
        margin-left: 0;
    }
    .form-profile{
        min-width: 330px;
        width: 330px;
        margin-left: -25px;
    }
    
  }

@media screen and (max-width: 650px) {
    .profilebar{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row-profile{
        flex-direction: column;
    }

    .img-profile{
        margin-bottom: 10px;
        margin-left: 0;
    }

    .form-envio{
        width: 100%;
    }
    .content-profile{
        width: 95%;
        justify-content: center;
    }

    .content-profile .container{
        padding: 0;
    }

    .img-profile-animal{
        width: 260px;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }

    .row-profile{
        justify-content: center;
    }

    .sidebar{
        max-width: none;
    }

    .content-profile{
        width: 100%;
    }

    .form-profile{
        margin-left: 0;
        width: 400px;
    }

}


  