body{
    background-color: #E7F2FA;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box
}

/*cards-----*/
.card{
    margin: 10px;
    padding: 5px;
    height: 350px;
    max-width: 272px;
}

.card .card-body .card-body-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
}

.card .card-body .card-body-top .trash{
    opacity: 0.4;
}

.card .card-body .card-body-top .trash:hover{
    opacity:0.7;
}
.post-avatar .avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }

.post-avatar .author{
    margin-top: 20px;
}


.post-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}

.card-img-top{
    margin-top: 5px;
    width: 260px;
    height: 180px;
}

.nav-item{
    padding: 5px;
}

.footer{
    max-width: 100%;
}


/*formularios-----*/
.form-cadastro{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5ce1e6 ;
}

.form-cadastro .form-group label{
    color: #ffffff;
}
.btn-primary{
    background-color: #ff914d;
    border: 0px;
}

.btn-primary:hover{
    background-color: #f5a473;
}


/*perfil----*/

.profilebar{
    background-color: #5ce1e6;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.img-profile{
    border-radius: 200px;
    height: 220px;
    width: 220px;
    margin-left: 30px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
  }

  .sidebar a.active {
    background-color: #ff914d;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #f5a473;
    color: white;
  }
  
  div.content-profile {
    margin-left: 10px;
    padding: 1px 16px;
    width: 78%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content-profile {
        margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.content {
    width: 100%;
    display:flex;
    justify-content: center;
}

.row{
    margin: 0;
    justify-content: center;
    margin-top: 15px;
    width: 98%;
}


@media screen and (max-width: 500px) {
    .profilebar{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-profile{
        margin-bottom: 10px;
    }
}

.img-profile-animal{
    width: 217px;
    height: 170px;
}