{% extends 'base.html' %}

{% block titulo %} Alterar informações {% endblock titulo %}

{% block conteudo %}

    <div class="profilebar">
        <img src="../media/perfil/{{perfil_usuario.foto}}" alt="{{usuario.username}}" class="img-profile">
        <h3>{{usuario.username}}</h3>
    </div>
    <div class="content">
        <div class="row">
            <div class="sidebar">
            <a href="{% url 'animais'%}">Animais cadastrados</a>
            <a href="{% url 'informacoes-pessoais' %}">Informações pessoais</a>
            <a class="active" href="{% url 'alterar-informacoes' usuario.id %}">Alterar Informações pessoais</a>
            <a href="#">Excluir conta</a>
            <a href="{% url 'logout' %}">Sair</a>
          </div>
          
          <!-- Page content -->
          <div class="content-profile">
            <div class="container">
                <div class="row justify-content-lg-center">
                  <form method="post" class="form-cadastro" enctype='multipart/form-data'>
                    
                    <h1 class="">Alterar dados</h1>
                    {% csrf_token %}
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="telefone">Telefone para contato</label>
                        {{ form_perfil.telefone }}
                        {% if form_perfil.errors.telefone %}
                          <span style="color: white;">
                            <br>
                            {% for e in form_perfil.errors.telefone %}
                                <p>{{ e }}</p>
                            {% endfor %}
                          </span>
                        {% endif %}
                      </div>
                      <div class="form-group col-md-6">
                        <label for="data_de_nascimento">Data de Nascimento</label>
                        {{ form_perfil.data_de_nascimento }}
                        {% if form_perfil.errors.data_de_nascimento %}
                          <span style="color: white;">
                            <br>
                            {% for e in form_perfil.errors.data_de_nascimento %}
                                <p>{{ e }}</p>
                            {% endfor %}
                          </span>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="cidade_usuario">Cidade</label>
                      {{ form_perfil.cidade_usuario }}
                      {% if form_perfil.errors.cidade_usuario %}
                        <span style="color: white;">
                          <br>
                          {% for e in form_perfil.errors.cidade_usuario %}
                              <p>{{ e }}</p>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="rua_usuario">Rua</label>
                      {{ form_perfil.rua_usuario }}
                      {% if form_perfil.errors.rua_usuario %}
                        <span style="color: white;">
                          <br>  
                          {% for e in form_perfil.errors.rua_usuario %}
                              <p>{{ e }}</p>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>

                    <div class="form-group">
                      <label for="estado_usuario">Estado</label>
                      {{ form_perfil.estado_usuario }}
                      {% if form_perfil.errors.estado_usuario %}
                        <span style="color: white;">
                          <br>  
                          {% for e in form_perfil.errors.estado_usuario %}
                              <p>{{ e }}</p>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    
                      <label for="foto">Foto de perfil</label>
                      {{ form_perfil.foto }}
                      {% if form_perfil.errors.foto %}
                        <span style="color: white;">
                          <br>  
                          {% for e in form_perfil.errors.foto %}
                              <p>{{ e }}</p>
                          {% endfor %}
                        </span>
                      {% endif %}
                    
                      
                      
                    <input type="submit" class="btn btn-primary" value="Atualizar informações">
                  </form>
                </div>
                
              </div>
          </div>
        </div>
    </div>
    
    
    
{% endblock conteudo %}