{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block complemento %} {% endblock complemento%}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    
    <title>{% block titulo %} {% endblock titulo%}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" id="topo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{% static 'imagens/logo.png' %}" 
          style = "width: 160px; height: 60px;" alt="logo"></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
              <a class="nav-link" href="#"> Doe </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#"> Incentivo </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#"> Sobre </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url '' %}"> Home </a>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'animais' %}"> Perfil </a>
            </li> 
          {% endif %}    

          </ul>

          {% if not user.is_authenticated %}
            <div class="form-inline my-2 my-lg-0">
              <div class="nav-item active">
                <a href="{% url 'login' %}">
                  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
                </a>
              </div>
              <div class="nav-item active">
                <a href="{% url 'cadastro' %}"tr>
                  <button class="btn btn-warning" type="submit">Cadastro</button>
                </a>
              </div>
            </div>
          {% endif %} 
      </div>
    </nav>

        {% block conteudo %}
        {% endblock conteudo %}

    <footer>
      <div class="footer-top">
        <a href="#"> Entre em Contato </a>
        <a href="#"> Perguntas Frequentes </a>
        <a href="#"> Políticas de Privacidade </a>
        <a href="#"> Equipe de Desenvolvedores</a>
        <a href="#"> Termos de Uso </a>
      </div>
      <hr>
      <div class="footer-bottom">
        <span class="iconify" data-icon="feather:youtube" data-inline="false" style="background-color: #f8433f;"></span>
        <span class="iconify" data-icon="feather:facebook" data-inline="false" style="background-color: #3b5998;"></span>
        <span class="iconify" data-icon="feather:twitter" data-inline="false" style="background-color: #2fbff3;"></span>
        <span class="iconify instagram" data-icon="feather:instagram" data-inline="false" style="background-image: linear-gradient(to bottom left,#9064c2,#e53d3a,#f1bb39);"></span>
      </div>
    </footer>
  </body>
</html>