{% extends 'base.html' %}

{% block conteudo %}

<div class="container">
  <div class="row justify-content-lg-center">
    <form method="post" class="form-cadastro">
      
      <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username }}
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.first_name.label }}
          {{ form.first_name }}
        </div>
        <div class="form-group col-md-6">
          {{ form.last_name.label }}
          {{ form.last_name }}
        </div>
      </div>
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email }}
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.password1.label }}
          {{ form.password1 }}
        </div>
        <div class="form-group col-md-6">
          {{ form.password2.label }}
          {{ form.password2 }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form_perfil.telefone.label }}
          {{ form_perfil.telefone }}
        </div>
        <div class="form-group col-md-6">
          {{ form_perfil.data_de_nascimento.label }}
          {{ form_perfil.data_de_nascimento }}
        </div>
      </div>
      <div class="form-group">
        {{ form_perfil.cidade_usuario.label }}
        {{ form_perfil.cidade_usuario }}
      </div>
      <div class="form-group">
        {{ form_perfil.rua_usuario.label }}
        {{ form_perfil.rua_usuario }}
      </div>
      <input type="submit" class="btn btn-primary" value="Cadastrar">
    </form>
  </div>
  
</div>
{% endblock conteudo %}