{% extends 'base.html' %}
{% load static %}
{% block titulo %} Editar Animal {% endblock titulo %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock complemento %}

{% block conteudo %}

    <div class="profilebar">
        <img src="../../../media/{{perfil_usuario.foto}}" alt="{{usuario.username}}" class="img-profile">
        <h3>{{usuario.username}}</h3>
    </div>
    <div class="content">
        <div class="row-profile">
          <div class="sidebar">
            <a href="{% url 'animais'%}">Animais cadastrados</a>
            <a href="{% url 'informacoes-pessoais'%}">Informações pessoais</a>
            <a href="{% url 'alterar-informacoes' usuario.id %}">Alterar Informações pessoais</a>
            <a href="{% url 'excluir-conta' usuario.id %}">Excluir conta</a>
            <a href="{% url 'logout' %}">Sair</a>
          </div>
          
          
          <!-- Page content -->
          <div class="content-profile">
            <div class="container">
                <div class="row justify-content-lg-center">
                  <form method="post" class="form-profile" enctype='multipart/form-data'>
                    <h1 class="h3 mb-3 "> Editar informações do animal </h1>
                    {% csrf_token %}
                    {{form.nome.label}}
                    {{form.nome}}
                    {{form.caracteristicas.label}}
                    {{form.caracteristicas}}
                    {{form.cidade.label}}
                    {{form.cidade}}
                    {{form.rua.label}}
                    {{form.rua}}
                    {{form.estado.label}}
                    {{form.estado}}
                    {{form.imagem.label}}
                    {{form.imagem}}
                    {{form.sexo.label}}
                    {{form.sexo}}
                    {{form.categoria.label}}
                    {{form.categoria}}
                    {{form.porte.label}}
                    {{form.porte}}
                    <div class="form-checkbox">
                        {{form.vacinado.label}}
                        {{form.vacinado}}
                    </div>
                    <div class="form-checkbox">
                        {{form.vermifugado.label}}
                        {{form.vermifugado}}
                    </div>
                    <div class="form-checkbox">
                        {{form.castrado.label}}
                        {{form.castrado}}
                    </div>
                    {% for e in form.errors.usuario%}
                        <p>{{ e }}</p>
                    {% endfor %}

                    <button type='submit' class="btn btn-primary"> Enviar </button>
                  </form>
                </div>
                
              </div>
          </div>
        </div>
        </div>
    
{% endblock conteudo %}