{% extends 'base.html' %}
{% block titulo %} Entre em Contato {% endblock titulo %}

{% block conteudo %}
    <div class="container">
        <div class="row justify-content-lg-center">
            <form method="post" class="form-envio">
                <h1 class="h3 mb-3 "> Entre em Contato </h1>
                {% csrf_token %}
                {{form.nome.label}}
                {{form.nome}}
                {{form.email.label}}
                {{form.email}}
                {{form.conteudo.label}}
                {{form.conteudo}}    
                
                <button type="submit" class="btn btn-primary"> Enviar </button>
            </form>
        </div>
    </div>
{% endblock conteudo %}