{% extends 'base.html' %}
{% load static %}

{% block titulo %} Feed {% endblock titulo %}

{% block conteudo %}
{{ categorias|json_script:'categorias' }}
{{ ids|json_script:'ids' }}
<script type="text/javascript" src="{% static 'js/categorias.js' %}"></script>

    <div class="container">
        <div class="row justify-content-lg-center">
            {% for animal in animais %}
                
        <div class="card col-sm-1" id="{{animal.id}}" >
                    <div class="post-avatar">
                        {% for perfil in perfil_usuarios %}
                            {% if perfil.user == animal.usuario %}
                                <img src="../media/{{perfil.foto}}" alt="Avatar" class="avatar">
                                <p class="author"> {{animal.usuario}} </p>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <a href="{% url 'perfil-animal' animal.id %}">
                        <img class="card-img-top" src="../media/{{animal.imagem}}" alt="{{animal.nome}}">
                    </a>
                    <div class="card-body">
                        <p>{{animal.usuario}}</p>
                        <p class="card-text">{{animal.nome}}</p>
                        <p class="card-text">{{animal.categoria}}</p>
                        
                    </div>
                </div >
            {% endfor %}
            <div class="paginacao">
                <span class="step-links">
                    {% if animais.has_previous %}
                        <a href="?page={{animais.previous_page_number}}"><button><</button></a>
                    {% endif %}
                    <span class="current">
                        {{ animais.number }} de {{ animais.paginator.num_pages }}
                    </span>
                    {% if animais.has_next %}
                        <a href="?page={{animais.next_page_number}}"><button>></button></a>
                    {% endif %}
                </span>
            </div>
        </div>  
    </div>


{% endblock conteudo %}
