{% extends 'base.html' %}
{% load static %}

{% block titulo %} Feed {% endblock titulo %}

{% block conteudo %}
{{ categorias|json_script:'categorias' }}
{{ ids|json_script:'ids' }}
<script type="text/javascript" src="{% static 'js/categorias.js' %}"></script>

<body onload="CategoriaAnimal();">

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{nome}}" placeholder="Nome do animal">
        <input type="text" name="cidade" value="{{cidade}}" placeholder="Cidade">

        <select name="porte" value="{{porte}}">
            <option value="">-----</option> 
            <option value="PE">Pequeno</option> 
            <option value="ME">Médio</option> 
            <option value="GR">Grande</option> 
        </select>
        <select name="categoria_filtro" value="{{categoria_filtro}}">
            <option value="">-----</option> 
            <option value="PA">Para Adoção</option> 
            <option value="P">Perdido</option> 
            <option value="E">Encontrado</option> 
        </select>
        <select name="sexo" value="{{sexo}}">
            <option value="">-----</option> 
            <option value="M">Macho</option> 
            <option value="F">Fêmea</option> 
        </select>
        <button type="submit">Filtrar</button>        
    </form>

    <div class="container" >
        <div class="row justify-content-lg-center">
            {% for animal in animais %}
                
        <div class="card col-sm-1" id="{{animal.id}}" >
                    <div class="post-avatar">
                        {% for perfil in perfil_usuarios %}
                            {% if perfil.user == animal.usuario %}
                                <img src="../media/{{perfil.foto}}" alt="Avatar" class="avatar">
                                <p class="author"> {{animal.usuario}} </p>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <a href="{% url 'perfil-animal' animal.id %}">
                        <img class="card-img-top" src="../media/{{animal.imagem}}" alt="{{animal.nome}}">
                    </a>
                    <div class="card-body">
                        <p>{{animal.usuario}}</p>
                        <p class="card-text">{{animal.nome}}</p>
                        <p class="card-text">{{animal.categoria}}</p>
                        
                    </div>
                </div >
            {% endfor %}
            
        </div>  
        <div class="paginacao">
            <span class="step-links">
                {% if animais.has_previous %}
                    <a href="?page={{animais.previous_page_number}}"><button><</button></a>
                {% endif %}
                <span class="current">
                    {{ animais.number }} de {{ animais.paginator.num_pages }}
                </span>
                {% if animais.has_next %}
                    <a href="?page={{animais.next_page_number}}"><button>></button></a>
                {% endif %}
            </span>
        </div>
    </div>

    
</body>
{% endblock conteudo %}
