{% extends 'base.html' %}

{% block titulo %} Perfil {% endblock titulo %}

{% block conteudo %}

    <div class="profilebar">
        <img src="../media/perfil/{{perfil_usuario.foto}}" alt="{{usuario.username}}" class="img-profile">
        <h3>{{usuario.username}}</h3>
    </div>
    <div class="content">
        <div class="row">
            <div class="sidebar">
            <a class="active" href="{% url 'animais'%}">Animais cadastrados</a>
            <a href="{% url 'informacoes-pessoais'%}">Informações pessoais</a>
            <a href="{% url 'alterar-informacoes' usuario.id %}">Alterar Informações pessoais</a>
            <a href="{% url 'excluir-conta' usuario.id %}">Excluir conta</a>
            <a href="{% url 'logout' %}">Sair</a>
          </div>
          
          
          <!-- Page content -->
          <div class="content-profile">
                {% for animal in animais %}
                    <div class="card col-sm-3">
                        <img class="card-img-top img-profile-animal" 
                        src="../media/{{animal.imagem}}" alt="{{animal.nome}}">
                        <div class="card-body">
                            <p>{{animal.usuario}}</p>
                            <p>{{animal.nome}}</p>
                        </div>
                    </div>
                    
                    </script>
                {% endfor %} 
          </div>
        </div>
    </div>
    
    
    
{% endblock conteudo %}