{% extends 'base.html' %}
{% load static %}

{% block complemento %} 

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <link rel="stylesheet" href="{% static 'css/perfil-animal.css' %}">

{% endblock complemento %}

{% block titulo %} {{animal.nome}} {% endblock titulo %}
{% block conteudo %}
    {{ endereco|json_script:'endereco' }}
    <script type="text/javascript" src="{% static 'js/mapa.js' %}"></script>
    <body onload="main()">
        <div class="container">
            <div class="row">
                <img class="img-animal" src="../../media/{{animal.imagem}}" alt="{{animal.nome}}">
            </div>
            <div id="conteudo"></div>

            <form method="post">
                {% csrf_token %}
                {{form.conteudo}}
                <button type="submit"> Comentar </button>
            </form>

            {% for comentario in comentarios %}
                {% if comentario.aprovado == True %}
                    <img src="../../media/{{comentario.avatar}}" alt="{{comentario.autor}}">
                    <p>{{comentario.autor}}</p>
                    <p>{{comentario.conteudo}}</p>
                {% endif %}
            {% endfor %} 
        </div>
    </body>
{% endblock conteudo %}